<div class="meal" 
  data-id={{id}}
  data-name="{{name}}"
  data-servings={{servings}}
  data-mealType="{{#each mealType}}{{this}} {{/each}}"
  data-categoryTags="{{#each categoryTags}}{{this}} {{/each}}"
  data-ingredients="{{#each categoryTags}}{{this}} {{/each}}"
  data-description="{{description}}"
  data-image="{{image}}"
>
  <a href="/meals/{{id}}">
    <img src="{{image}}" alt="{{name}}">
    <p>{{name}}</p>
  </a>
</div>